<section id="about" class="about-section">
  <div class="container">
    <div class="about-title-wrapper">
      <h2 class="about-title">Tradion and Love</h2>
      <h2 class="about-title-highlighted">how it's made?</h2>
    </div>
    <div class="about-content-wrapper">
      <img
        class="about-content-image"
        src="./images/advantages/advantages-cow-1x.png"
        srcset="
          ./images/advantages/advantages-cow-1x.png 1x,
          ./images/advantages/advantages-cow-2x.png 2x
        "
        alt="Cow in the farm"
        width="278.996"
        height="278"
      />
      <div class="about-text-container">
        <div class="about-text-wrapper">
          <p class="about-text about-text-first">
            Ice is a place where you will become not only a little happier, but also healthier.
            Health is the main value for us, and we follow it when creating our handmade desserts.
          </p>
          <p class="about-text">
            We use traditional recipes and 100% natural ingredients. Our products are so natural
            that they can be given to children from the age of three years. Sweets lovers can expect
            55 types of ice cream, 15 types of coffee and 23 milkshakes.
          </p>
          <p class="about-text about-text">
            This is enough to choose ice cream and coffee for any mood!
          </p>
        </div>
        <button data-modal-open="modal3" type="button" class="about_button" data-model="more">
          Read more
          <svg class="about_icon-button-arrow" width="12" height="12">
            <use href="./images/Icons2.svg#icon-Button"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
