<section id="advantages">
  <h2 class="h-hidden">ADVANTAGES</h2>
  <div class="container advantages-center">
    <ul>
      <li>
        <!-- <div class="advantage-icons-bg">
        <svg class="advantages-icons">
          <use href="./images/icons.svg#icon-cow"></use>
        </svg>
      </div> -->
        <p class="advantages-big">721</p>
        <p class="advantages-small">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <!-- <div class="advantage-icons-bg">
          <svg class="advantages-icons">
            <use href="./images/icons.svg#icon-weight"></use>
          </svg>
        </div> -->
        <p class="advantages-big">16kg</p>
        <p class="advantages-small">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <!-- <div class="advantage-icons-bg">
          <svg class="advantages-icons">
            <use href="./images/icons.svg#icon-ice-cream"></use>
          </svg>
        </div> -->
        <p class="advantages-big">84</p>
        <p class="advantages-small">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>