<section class="contacts contacts-text">
  <h2 class="contacts-header">CONTACTS</h2>
  <ul class="contacts-set">
    <li class="contacts-box">
      <p class="contacts-place-cafe">CAFE</p>
      <div>
        <p>Chicago</p>
        <address class="contacts-address">
          <a href="https://goo.gl/maps/kQvF1UzeVgUwLkUR8" target="_blank"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
      </div>
      <div>
        <p>
          Monday - Friday<br />
          <span>06:00 AM - 10:00 PM</span>
        </p>
        <p class="contacts-date">
          Saturday - Sunday<br />
          <span>08:00 AM - 16:00 PM</span>
        </p>
      </div>
      <address class="contacts-links">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </address>
    </li>
    <li class="contacts-box">
      <p class="contacts-place-ft">FOOD<span class="contacts-place-ft-span"> </span>TRUCK</p>
      <div>
        <p>Los Angeles</p>
        <address class="contacts-address">
          <a href="https://goo.gl/maps/2FWVPkaHrfhvk5Qw5" target="_blank"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
      </div>
      <div>
        <p>
          Monday - Friday<br />
          <span>06:00 AM - 10:00 PM</span>
        </p>
        <p class="contacts-date">
          Saturday - Sunday<br />
          <span>AM - 16:00 PM</span>
        </p>
      </div>
      <address class="contacts-links">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </address>
    </li>
    <li class="contacts-box">
      <p class="contacts-place-cafe">CAFE</p>
      <div>
        <p>New York</p>
        <address class="contacts-address">
          <a href="https://goo.gl/maps/prKM9sPydX1UzhC76" target="_blank"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
      </div>
      <div>
        <p>
          Monday - Friday<br />
          <span>06:00 AM - 10:00 PM</span>
        </p>
        <p class="contacts-date">
          Saturday - Sunday<br />
          <span>08:00 AM - 16:00 PM</span>
        </p>
      </div>
      <address class="contacts-links">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </address>
    </li>
  </ul>
  <div class="contacts-button-item">
    <button data-modal-open="modal4" class="contacts-button-locations" type="button">
      Our Locations
      <svg width="12px" height="12px">
        <use href="./images/icons.svg#icon-arrow-button"></use>
      </svg>
    </button>
    <button data-modal-open="modal5" class="contacts-button-franchise" type="button">
      Franchise
      <svg width="12px" height="12px">
        <use href="./images/icons.svg#icon-arrow-button"></use>
      </svg>
    </button>
  </div>
</section>
