<section id="customer-reviews">
  <div class="container customer-reviews">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <!-- Slider Main Container -->
    <div class="swiper mySwiper">
      <!-- Additional Required Wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div>
            <img
              src="./images/customer-reviews/customer-reviews-customer1-image-1x.jpg"
              srcset="
                ./images/customer-reviews/customer-reviews-customer1-image-1x.jpg 1x,
                ./images/customer-reviews/customer-reviews-customer1-image-2x.jpg 2x
              "
              alt="Emily from Los Angeles"
              width="85"
              height="85"
              class="slide-image"
            />
          </div>
          <p class="slide-description">
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
            addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <p class="slide-personal-info">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <div>
            <img
              src="./images/customer-reviews/customer-reviews-customer2-image-1x.jpg"
              srcset="
                ./images/customer-reviews/customer-reviews-customer2-image-1x.jpg 1x,
                ./images/customer-reviews/customer-reviews-customer2-image-2x.jpg 2x
              "
              alt="Bryan from New York"
              width="85"
              height="85"
              class="slide-image"
            />
          </div>

          <p class="slide-description">
            Every day we come to you with friends after classes in college. We love your ice cream
            and casual atmosphere!
          </p>
          <p class="slide-personal-info">Bryan, New-York</p>
        </div>
        <div class="swiper-slide">
          <div>
            <img
              src="./images/customer-reviews/customer-reviews-customer3-image-1x.jpg"
              srcset="
                ./images/customer-reviews/customer-reviews-customer3-image-1x.jpg 1x,
                ./images/customer-reviews/customer-reviews-customer3-image-2x.jpg 2x
              "
              alt="Diana from Chicago"
              width="85"
              height="85"
              class="slide-image"
            />
          </div>

          <p class="slide-description">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
            excellent service - always served politely and quickly!
          </p>
          <p class="slide-personal-info">Diana, Chicago</p>
        </div>
      </div>
      <!-- Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
