<section id="customer-reviews">
  <h2 class="visually-hidden">Cutomer Reviews</h2>
  <!-- Slider Main Container -->
  <div class="swiper">
    <!-- Additional Required Wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          src="./images/customer-reviews/customer-reviews-customer1-image-1x.jpg"
          srcset="
            ./images/customer-reviews/customer-reviews-customer1-image-1x.jpg 1x,
            ./images/customer-reviews/customer-reviews-customer1-image-2x.jpg 2x
          "
          alt="Emily from Los Angeles"
          width="85"
          height="85"
          class="slide-image"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="./images/customer-reviews/customer-reviews-customer2-image-1x.jpg"
          srcset="
            ./images/customer-reviews/customer-reviews-customer2-image-1x.jpg 1x,
            ./images/customer-reviews/customer-reviews-customer2-image-2x.jpg 2x
          "
          alt="Bryan from New York"
          width="85"
          height="85"
          class="slide-image"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="./images/customer-reviews/customer-reviews-customer3-image-1x.jpg"
          srcset="
            ./images/customer-reviews/customer-reviews-customer3-image-1x.jpg 1x,
            ./images/customer-reviews/customer-reviews-customer3-image-2x.jpg 2x
          "
          alt="Diana from Chicago"
          width="85"
          height="85"
          class="slide-image"
        />
      </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Nnavigation Buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- Scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</section>
