<footer id="footer">
  <div class="footer container">
    <div class="f-container">
      <div class="footer-tittle">
        <span class="footer-title-line1">homemade ice cream made</span>

        <span class="footer-tittle-line2">with passion</span>

        <div class="footer-right-side">
          <ul class="footer-social">
            <li class="footer-social-item1">
              <a
                href="https://github.com"
                target="_blank"
                rel="nofollow noopener noreferrer"
                class="footer-social-links"
              >
                <svg width="20" height="20">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item1">
              <a
                href="https://web.telegram.org/"
                target="_blank"
                rel="nofollow noopener noreferrer"
                class="footer-social-links"
              >
                <svg width="20" height="20">
                  <use href="/src/images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item1">
              <a
                href="https://facebook.com"
                target="_blank"
                rel="nofollow noopener noreferrer"
                class="footer-social-links"
              >
                <svg height="20" width="20">
                  <use href="/src/images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p class="footer-contacts">
            Feel free to contact
            <a href="tel:+610383766284" class="footer__contact-link">+61 (0) 383 766 284</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr class="linehr" />
  <div class="footer-copyright-container">
    <div class="footer-copyright">© 2022 - IceCream. All Rights Reserved.</div>
  </div>
</footer>
