<section id="gallery">
  <h2 class="h-hidden">GALLERY</h2>
  <div class="container gallery-center">
    <ul class="img-box">
      <li>
        <img class="img-properites img-1 " alt="Photo of beautifull icecream" src="./images/gallery/ice-pic-1.jpg"
          srcset="./images/gallery/ice-pic-1@2x.jpg 2x" />
      </li>
      <li>
        <img class="img-properites img-2" alt="Photo of beautifull icecream" src="./images/gallery/ice-pic-2.jpg"
          srcset="./images/gallery/ice-pic-2@2x.jpg 2x" />
      </li>
      <li>
        <img class="img-properites img-3" alt="Photo of beautifull icecream" src="./images/gallery/ice-pic-3.jpg"
          srcset="./images/gallery/ice-pic-3@2x.jpg 2x" />
      </li>
    </ul>
  </div>
</section>