<section class="hero-content-section" id="hero-content">
  <div class="hero-content-wrapper">
    <h1 class="hero-content-title">
      ice cream made with <span class="hero-content-title-highlighted">passion</span>
    </h1>
    <!-- test -->
    <div>
      <div class="hero-button-container">
        <a class="hero-content-button-border" href="#products">Products</a>
        <a class="hero-content-button-underline" href="#about">How it's made?</a>
      </div>

      <div class="hero-content-description">
        <img
          class="hero-content-ice-spinning"
          width="225"
          height="225"
          src="./images/hero-section/spinning-ice-cream-hero-1x.png"
          srcset="
            ./images/hero-section/spinning-ice-cream-hero-1x.png 1x,
            ./images/hero-section/spinning-ice-cream-hero-2x.png 2x
          "
          alt="lots of colorful ice cream scoops on a plate"
        />
        <div class="hero-content-text-wrapper">
          <p class="hero-content-text">
            Indulge in a scoop of ice cream made with passion and treat your taste buds to an
            unforgettable experience!
          </p>

          <a class="hero-content-arrow-button" href="#products">
            <svg class="hero-content-arrow-icon" width="40" height="16">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="hero-content-image-wrapper">
        <img
          class="hero-content-image"
          srcset="
            ./images/hero-section/icecream-hero-desktop-1x.png 1200w,
            ./images/hero-section/icecream-hero-desktop-2x.png 2400w,
            ./images/hero-section/icecream-hero-tablet-1x.png   768w,
            ./images/hero-section/icecream-hero-tablet-2x.png  1536w,
            ./images/hero-section/icecream-hero-480-1x.png      480w,
            ./images/hero-section/icecream-hero-480-2x.png      960w,
            ./images/hero-section/icecream-hero-mobile-1x.png   368w,
            ./images/hero-section/icecream-hero-mobile-2x.png   736w
          "
          sizes="(max-width: 479px) 100vw, 480px"
          src="./images/hero-section/icecream-hero-mobile-1x.png"
          alt="Ice Cream Hero"
        />

        <img
          class="hero-content-dots-mobile-left"
          width="107"
          height="34"
          src="./images/background/dots-mobile-l-1x.png"
          alt=""
        />
        <img
          class="hero-content-dots-mobile-right"
          width="127"
          height="49"
          src="./images/background/dots-mobile-r-1x.png"
          alt=""
        />
        <img
          class="hero-content-dots-tablet-l"
          width="110"
          height="34"
          src="./images/background/dots-tablet-l-1x.png"
          alt=""
        />
        <img
          class="hero-content-dots-tablet-r"
          width="182"
          height="67"
          src="./images/background/dots-tablet-r-1x.png"
          alt=""
        />
        <img
          class="hero-content-dots-desktop"
          src="./images/background/dots-desktop-1x.png"
          alt=""
        />

        <div class="hero-content-statistics-container">
          <p class="hero-content-statistics-number">
            <span>16</span>
          </p>
          <p class="hero-content-statistics-number">
            <span>23</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
