<section class="hero-section" id="hero-content">
  <div class="container">
    <h1 class="hero-content-title">ice cream made with passion</h1>

    <div>
      <a href="#products">Products</a>
      <a href="#about">How it's made?</a>

      <div>
        <img
          src="./images/hero-section/spinning-ice-cream-hero-1x.png"
          srcset="
            ./images/hero-section/spinning-ice-cream-hero-1x.png 1x,
            ./images/hero-section/spinning-ice-cream-hero-2x.png 2x
          "
          alt="lots of colorful ice cream scoops on a plate"
        />
        <p>
          Indulge in a scoop of ice cream made with passion and treat your taste buds to an
          unforgettable experience!
        </p>

        <svg width="40" height="16">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </div>

      <div>
        <img
          src="./images/hero-section/icecream-hero-desktop-1x.png"
          srcset="
            ./images/hero-section/icecream-hero-desktop-1x.png 1x,
            ./images/hero-section/icecream-hero-desktop-2x.png 2x
          "
          alt="colorful image of ice cream with happy face"
        />
      </div>

      <div>
        <p><span>16</span></p>
        <p><span>23</span></p>
      </div>
    </div>
  </div>
</section>
