<section id="hero-header">
  <!-- nagłówek desktop -->

  <header class="header-destop">
    <div class="container">
      <div class="header-content">
        <src><use href="./src/images/icons.svg#icon-logo"></use></src>

        <nav>
          <a href="./index.html">Home</a>
          <a href="./partials/about.html">How it&apos;s made?</a>
          <a href="./partials/products.html">Our products</a>
          <a href="./contacts.html">Contact</a>
        </nav>

        <button type="button">Buy now&gt;</button>
      </div>
    </div>
  </header>

  <!-- nagłówek aplikacji mobiej -->

  <header class="header-mobile">
    <div class="container">
      <src><use href="../images/icons.svg#icon-logo"></use></src>

      <button class="" aria-expanded="false">
        <svg width="24" height="24" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </header>

  <!-- modal menu mobine -->

  <script src=""></script>

  <div class="" id="mobile-menu">
    <button class="">
      <svg
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <nav>
      <a href="../index.html">Home</a>
      <a href="../partials/about.html">How it&apos;s made?</a>
      <a href="../partials/products.html">Our products</a>
      <a href="./contacts.html">Contact</a>
    </nav>
  </div>
</section>
