<!-- nagłówek desktop -->
<header class="header-desktop" id="hero-header">
  <div class="container">
    <div class="header-content">
      <a>
        <svg width="60px" height="65px"><use href="./images/icons.svg#icon-logo"></use></svg>
      </a>

      <nav class="a">
        <a href="#header-destop">Home</a>
        <a href="#advantages">How it's made?</a>
        <a href="#products">Our products</a>
        <a href="#contacts">Contact</a>
      </nav>

      <button class="button-header" type="button">Buy now&gt;</button>
    </div>
  </div>
</header>

<!-- nagłówek aplikacji mobiej -->

<header class="header-mobile">
  <div class="container">
    <button class="" aria-expanded="false" href="">
      <svg width="24" height="24" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
</header>
