<!-- Buy now modal -->

<div class="backdrop is-hidden" data-modal="modal1">
  <div class="modal">
    <button data-modal-close="modal1" type="button" class="close-btn">
      <svg class="close-btn__icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="modal__title title">Buy now</h2>
    <div class="modal-checkbox-container">
      <div class="modal-checkbox-wrapper modal-checkbox-wrapper1">
        <div class="modal-checkbox-item modal-checkbox-item1">
          <input type="checkbox" id="checkbox1" />
          <label for="checkbox1" class="checkbox-label checkbox-label1">
            <img
              src="./images/buy-now-modal/ice-cream-buy-now-modal-1x.png"
              alt="Checkbox Image 1"
              class="checkbox-image checkbox-image1"
              width="135"
              height="135"
            />
          </label>
          <p class="checkbox-text checkbox-text1">Ice Cream</p>
        </div>
      </div>

      <div class="modal-checkbox-wrapper modal-checkbox-wrapper2">
        <div class="modal-checkbox-item modal-checkbox-item2">
          <input type="checkbox" id="checkbox2" />
          <label for="checkbox2" class="checkbox-label checkbox-label2">
            <img
              src="./images/buy-now-modal/ice-coffee-buy-now-modal-1x.png"
              alt="Checkbox Image 2"
              class="checkbox-image checkbox-image2"
            />
          </label>
          <p class="checkbox-text checkbox-text2">Ice Coffee</p>
        </div>
      </div>

      <div class="modal-checkbox-wrapper modal-checkbox-wrapper3">
        <div class="modal-checkbox-item modal-checkbox-item3">
          <input type="checkbox" id="checkbox3" />
          <label for="checkbox3" class="checkbox-label checkbox-label3">
            <img
              src="./images/buy-now-modal/milkshake-buy-now-modal-1x.png"
              alt="Checkbox Image 3"
              class="checkbox-image checkbox-image3"
            />
          </label>
          <p class="checkbox-text checkbox-text3">Milkshake</p>
        </div>
      </div>
    </div>

    <form class="modal-form" name="modal-form">
      <div class="modal-form__input-wrapper">
        <label for="buynow-name" class="modal-form__label visually-hidden">Name</label>
        <input
          type="text"
          required
          id="buynow-name"
          minlength="2"
          class="modal-form__input"
          placeholder="Name"
        />
      </div>
      <div class="modal-form__input-wrapper">
        <label for="buynow-tel" class="modal-form__label visually-hidden">Phone</label>
        <input
          type="tel"
          required
          id="buynow-tel"
          class="modal-form__input"
          placeholder="Phone"
          minlength="10"
        />
      </div>
      <div class="modal-form__input-wrapper modal-form__input-wrapper-text">
        <label class="modal-form__label visually-hidden">Comment</label>
        <textarea
          name="modal-form__textarea"
          id="comment"
          placeholder="Comment"
          class="modal-form__input modal-form__input-text"
        ></textarea>
      </div>
      <button class="btn btn--primary modal__btn" type="submit">Submit</button>
    </form>
  </div>
</div>

<!-- Products Modal -->

<div class="backdrop is-hidden" data-modal="modal2">
  <div class="modal">
    <button data-modal-close="modal2" class="close-btn">
      <svg class="close-btn__icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="modal__title title">Chololate icecream</h2>
    <div class="modal__image">
      <img
        src="./images/modal-with-info/icecream-info-modal-1x.png"
        alt="ice cream in a con"
        width="132"
        height="132"
      />
    </div>
    <ul class="modal-products-list">
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text" style="background-color: rgb(174, 198, 165)"
          >320</span
        >kcal
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text" style="background-color: rgb(174, 198, 165)"
          >4g</span
        >Prote...
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text" style="background-color: rgb(174, 198, 165)"
          >8,2g</span
        >Fats
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text" style="background-color: rgb(174, 198, 165)"
          >40,4g</span
        >Carbs
      </li>
    </ul>
    <p class="modal-products__content">Ingredients</p>
    <ul class="modal-products-elements">
      <li class="modal-products-elements__item">Milk<span>100ml</span></li>
      <li class="modal-products-elements__item">Belgian chocolate<span>20g</span></li>
      <li class="modal-products-elements__item">Cream<span>150ml</span></li>
      <li class="modal-products-elements__item">Cocoa powder<span>30g</span></li>
      <li class="modal-products-elements__item">Sugar<span>40g</span></li>
      <li class="modal-products-elements__item">Vanilla<span>10g</span></li>
    </ul>
    <form name="signup_form" autocomplete="on" class="modal-form">
      <div class="modal-form__input-wrapper">
        <label class="modal-form__label visually-hidden">Name</label>
        <input
          type="text"
          name="name"
          required
          id="name"
          class="modal-form__input"
          placeholder="Name"
          minlength="2"
        />
      </div>
      <div class="modal-form__input-wrapper">
        <label for="tel" class="modal-form__label visually-hidden">Phone</label>
        <input
          type="tel"
          name="tel"
          required
          id="tel"
          class="modal-form__input"
          placeholder="Phone"
          minlength="10"
        />
      </div>
      <div class="modal-form__input-wrapper modal-form__input-wrapper-text">
        <label for="tel" class="modal-form__label visually-hidden">Comment</label>
        <textarea
          name="modal-form__textarea"
          id="products-comment"
          placeholder="Comment"
          class="modal-form__input modal-form__textarea"
        ></textarea>
      </div>
      <button class="btn btn--primary modal__btn" type="submit">Submit</button>
    </form>
  </div>
</div>

<!-- How it's made modal-->

<div class="backdrop is-hidden" data-modal="modal3">
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close="modal3">
      <svg class="close-btn__icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="about-modal__title modal__title title">How it`s made?</h2>
    <video
      class="about__vid"
      src="/src/images/video/mixkit-slow-motion-portrait-of-a-cow-grazing-32604-medium.mp4"
      poster="/src/images/cow-poster-about.jpg"
      controls
      preload="auto"
    ></video>
    <p class="about__vid-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
  </div>
</div>

<!-- Our Locations modal -->

<div class="backdrop is-hidden" data-modal="modal4">
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close="modal4">
      <svg class="close-btn__icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="modal__locations-container">
      <h2 class="modal__locations-title modal__title title">Our Locations</h2>
      <iframe
        class="modal__locations-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40796.77556384287!2d19.114973696143952!3d50.27702137952549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716da99feda4b29%3A0xcb6c2aa12b6507db!2sSosnowiec!5e0!3m2!1sen!2spl!4v1694524917254!5m2!1sen!2spl"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
      <a
        href="https://goo.gl/maps/Lps8UKAYn2SWHbgX8"
        target="_blank"
        rel="nofollow noopener noreferrer"
        class="btn btn--primary modal__btn"
      >
        Open map
      </a>
    </div>
  </div>
</div>

<!-- Franchise -->

<div class="backdrop is-hidden" data-modal="modal5">
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close="modal5">
      <svg class="close-btn__icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="modal__franchise-container">
      <h2 class="modal__franchise-title modal__title title">
        Thank you for your interest in owning an Ice Cream shop
      </h2>
      <p class="modal__franchise-text">
        Due to the overwhelming volume of franchise requests we are not accepting new franchisee
        applications at this time. Once the application process resumes, we will contact you for
        further information. Please fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </p>
      <form class="modal-form" name="modal-form">
        <div class="modal-form__input-wrapper">
          <label for="franchise-name" class="modal-form__label visually-hidden">Name</label>
          <input
            type="text"
            required
            id="franchise-name"
            placeholder="Name"
            minlength="2"
            class="modal-form__input"
          />
        </div>
        <div class="modal-form__input-wrapper">
          <label for="franchise-tel" class="modal-form__label visually-hidden">Phone</label>
          <input
            type="tel"
            required
            id="franchise-tel"
            class="modal-form__input"
            placeholder="Phone"
            minlength="10"
          />
        </div>
        <div class="modal-form__input-wrapper">
          <label for="franchise-email" class="modal-form__label visually-hidden">Email</label>
          <input
            type="email"
            class="modal-form__input"
            name="email"
            id="franchise-email"
            placeholder="Email"
            required
          />
        </div>
        <div class="modal-form__input-wrapper modal-form__input-wrapper-text">
          <label class="modal-form__label visually-hidden">Comment</label>
          <textarea
            name="modal-form__textarea"
            id="franchise-comment"
            placeholder="Comment"
            class="modal-form__input modal-form__input-text"
          ></textarea>
        </div>
        <button class="btn btn--primary modal__btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
