
<!-- Products modals -->

<!-- Modal1 -->
<!-- Button which activates modal -->
<button data-target="#modal1" type="button" class="products__link">
  <svg width="12" height="12" class="locations_btn-icon">
    <use href="./images/icons.svg#icon-arrow"></use>
  </svg>
</button>

<!-- Main body of modal -->
<div class="modal" id="modal1">
  <button class="close-btn modal-btn" data-target="#modal1">&times;</button>
    <h2 class="modal__title title">Chololate icecream</h2>
    <div class="modal__iamge"></div>
    <ul class="modal-products-list">
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">320</span>kcal  
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">4g</span>Protein
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">8,2g</span>Fats
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">40,4g</span>Carbs
      </li>
    </ul>
    <p class="modal-products__content">Ingredients</p>
    <ul class="modal-products-elements">
      <li class="modal-products-elements__item">Milk<span>100ml</span></li>
      <li class="modal-products-elements__item">Belgian chocolate<span>20g</span></li>
      <li class="modal-products-elements__item">Cream<span>150ml</span></li>
      <li class="modal-products-elements__item">Cocoa powder<span>30g</span></li>
      <li class="modal-products-elements__item">Sugar<span>40g</span></li>
      <li class="modal-products-elements__item">Vanilla<span>10g</span></li>
    </ul>
    <form name="signup_form" autocomplete="on" validate class="modal-form">
      <div class="modal-form__input-wrapper">
        <label class="modal-form__label">Name</label>
        <input type="text" name="name" required id="name" class="">
      </div>
      <div class="modal-form__input-wrapper">
        <label for="tel" class="modal-form__label">Phone</label>
        <input type="number" name="tel" required id="tel" class="">
      </div>
      <div class="modal-form__input-wrapper modal-form__input-wrapper-text">
        <label for="tel" class="modal-form__label">Comment</label>
        <textarea type="text" name="comment" id="comment" placeholder="Text input" class="" optional></textarea>
      </div>
      <button class="btn btn--primary modal__btn" type="submit">Submit</button>
    </form> 
</div>

<!-- Modal2 -->
<!-- Button which activates modal -->
<button data-target="#modal2" type="button" class="products__link">
  <svg width="12" height="12" class="locations_btn-icon">
    <use href="./images/icons.svg#icon-arrow"></use>
  </svg>
</button>

<!-- Main body of modal -->
<div class="modal" id="modal2">
  <button class="close-btn modal-btn" data-target="#modal2">&times;</button>
    <h3 class="modal__title title">Chololate icecream</h3>
    <div class="modal__iamge"></div>
      <img src="./images/products/products-modal-ice-cream-1x.png" alt="ice-cream in a con">
    <ul class="modal-products-list">
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">320</span>kcal  
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">4g</span>Protein
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">8,2g</span>Fats
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">40,4g</span>Carbs
      </li>
    </ul>
    <p class="modal-products__content">Ingredients</p>
    <ul class="modal-products-elements">
      <li class="modal-products-elements__item">Milk<span>100ml</span></li>
      <li class="modal-products-elements__item">Belgian chocolate<span>20g</span></li>
      <li class="modal-products-elements__item">Cream<span>150ml</span></li>
      <li class="modal-products-elements__item">Cocoa powder<span>30g</span></li>
      <li class="modal-products-elements__item">Sugar<span>40g</span></li>
      <li class="modal-products-elements__item">Vanilla<span>10g</span></li>
    </ul>
    <form name="signup_form" autocomplete="on" validate class="modal-form">
      <div class="modal-form__input-wrapper">
        <label class="modal-form__label">Name</label>
        <input type="text" name="name" required id="name" class="">
      </div>
      <div class="modal-form__input-wrapper">
        <label for="tel" class="modal-form__label">Phone</label>
        <input type="number" name="tel" required id="tel" class="">
      </div>
      <div class="modal-form__input-wrapper modal-form__input-wrapper-text">
        <label for="tel" class="modal-form__label">Comment</label>
        <textarea type="text" name="comment" id="comment" placeholder="Text input" class="" optional></textarea>
      </div>
      <button class="btn btn--primary modal__btn" type="submit">Submit</button>
    </form>
</div>  

<!-- Modal3 -->
<!-- Button which activates modal -->
  <button data-target="#modal3" type="button" class="products__link">
    <svg width="12" height="12" class="locations_btn-icon">
      <use href="./images/icons.svg#icon-arrow"></use>
    </svg>
  </button>

<!-- Main body of modal -->
<div class="modal" id="modal3">
  <button class="close-btn modal-btn" data-target="#modal3">&times;</button>
    <h3 class="modal__title title">Chololate icecream</h3>
    <div class="modal__iamge"></div>
      <img src="./images/products/products-modal-ice-cream-1x.png" alt="ice-cream in a con">
    <ul class="modal-products-list">
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">320</span>kcal  
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">4g</span>Protein
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">8,2g</span>Fats
      </li>
      <li class="modal-products-list__item">
        <span class="modal-products__icons-text">40,4g</span>Carbs
      </li>
    </ul>
    <p class="modal-products__content">Ingredients</p>
    <ul class="modal-products-elements">
      <li class="modal-products-elements__item">Milk<span>100ml</span></li>
      <li class="modal-products-elements__item">Belgian chocolate<span>20g</span></li>
      <li class="modal-products-elements__item">Cream<span>150ml</span></li>
      <li class="modal-products-elements__item">Cocoa powder<span>30g</span></li>
      <li class="modal-products-elements__item">Sugar<span>40g</span></li>
      <li class="modal-products-elements__item">Vanilla<span>10g</span></li>
    </ul>
    <form name="signup_form" autocomplete="on" validate class="modal-form">
      <div class="modal-form__input-wrapper">
        <label class="modal-form__label">Name</label>
        <input type="text" name="name" required id="name" class="">
      </div>
      <div class="modal-form__input-wrapper">
        <label for="tel" class="modal-form__label">Phone</label>
        <input type="number" name="tel" required id="tel" class="">
      </div>
      <div class="modal-form__input-wrapper modal-form__input-wrapper-text">
        <label for="tel" class="modal-form__label">Comment</label>
        <textarea type="text" name="comment" id="comment" placeholder="Text input" class="" optional></textarea>
      </div>
      <button class="btn btn--primary modal__btn" type="submit">Submit</button>
    </form>
</div>

<!-- Buy now modal -->

<!-- Modal4 -->
<!-- Button which activates modal -->
<button class="btn btn-buy" type="button" data-target="#modal4">
  Buy now
  <svg width="12" height="12" class="locations_btn-icon">
    <use href="./images/button-arrow.svg#icon-button-right-arrow"></use>
  </svg>
</button>

<!-- Main body of modal -->
<div class="backdrop" data-modal="buy-now" data-modal-backdrop>
  <div class="modal" id="modal4">
  <button  type="button" class="close-btn modal-btn" data-target="#modal4">&times;</button>
    <h2 class="modal__title title">Buy now</h2>
      <ul class="modal-list">
        <li class="modal-list_item modal-list__item--green">
          <h3>Ice cream</h3>
        </li>
        <li class="modal-list_item modal-list__item--yellow">
          <h3>Ice coffee</h3>
        </li>
        <li class="modal-list_item modal-list__item--brown">
          <h3>Milkshake</h3>
        </li>
      </ul>
    <form class="modal-form" name="modal-form">
      <div class="modal-form__input-wrapper">
        <label for="name" class="modal-form__label">Name</label>
        <input type="text" required id="name" for="name" minlength="2" class="modal-form__input">
      </div>
      <div class="modal-form__input-wrapper">
        <label for="tel" class="modal-form__label">Phone</label>
        <input type="tel" required id="tel" for="tel" class="modal-form__input" placeholder="" minlength="10">
      </div>
      <div class="modal-form__input-wrapper modal-form__input-wrapper-text">
        <label class="modal-form__label">Comment</label>
        <textarea name="modal-form__textarea" id="comment" placeholder="" class="modal-form__input modal-form__input-text" optional minlength="10"></textarea>
      </div>
      <button class="btn btn--primary modal__btn" type="submit" >Submit</button>
    </form>
  </div>
</div>

<!-- How it's made modal-->

<!-- Modal5 -->
<!-- Button which activates modal -->
<button class="btn btn-how-its-made" type="button" data-target="#modal5" ></button>

<!-- Main body of modal -->
<div class="backdrop" data-modal="how-its-made" data-modal-backdrop>
  <div class="modal modal__modal5" id="modal5">
    <button  type="button" class="close-btn modal-btn" data-target="#modal5">&times;</button>
    <h2 class="about-modal__title modal__title title">How it`s made?</h2>
    <video class="about__vid" src="https://www.youtube.com/shorts/4TijjLtzKug?feature=share" poster="" controls preload="auto"></video>
    <p class="about__vid-descripton">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
  </div>
</div>

<!-- Our Locations / Franchise modals -->

<!-- Modal6 -->
<!-- Button which activates modal -->
<button class="btn btn--primary locations__btn" type="button" data-target="#modal6" >
  Our Locations
  <svg width="12" height="12" class="locations_btn-icon">
    <use href="./images/button-arrow.svg#icon-button-right-arrow"></use>
  </svg>
</button>

<!-- Main body of modal -->
<div class="backdrop" data-target="#modal6" data-modal-backdrop>
  <div class="modal" id="#modal6">
    <button  type="button" class="close-btn modal-btn" data-target="#modal6">&times;</button>
    <div class="modal__locations-container">
     <h2 class="modal__locations-title modal__title title">Our Locations</h2>
      <iframe class="modal_loc-map" src="https://www.google.com/maps/place/50%C2%B016'37.7%22N+19%C2%B007'36.9%22E/@50.2767383,19.1267481,18.5z/data=!4m4!3m3!8m2!3d50.27713!4d19.126909?entry=ttu" style="border: 0" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-donwgrade">
        #document
      </iframe>
      <a href="https://goo.gl/maps/Lps8UKAYn2SWHbgX8" target="_blank" rel="nofollow noopener noreferrer" class="btn btn--primary modal__btn">Open map</a>
    </div>
  </div>
</div>

<!-- Modal7 -->
<!-- Button which activates modal -->
<button class="btn btn--border contacts__btn" type="button" data-target="#modal7" >
  Franchise
  <svg width="12" height="12" class="locations_btn-icon">
    <use href="./images/button-arrow.svg#icon-button-right-arrow"></use>
  </svg>
</button>

<!-- Main body of modal -->
<div class="backdrop" data-target="#modal7" data-modal-backdrop>
  <div class="modal" id="#modal7">
    <button  type="button" class="close-btn modal-btn" data-target="#modal7">&times;</button>
    <div class="modal__frnachise-container">
      <h2 class="modal__frnachise-title modal__title title">
        Thank you for your interest in owning an Ice Cream shop
      </h2>
      <p class="modal__locations-text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.
      </p>
      <form class="modal-form" name="modal-form">
            <div class="modal-form__input-wrapper">
                <label for="name" class="modal-form__label">Name</label>
                <input type="text" required id="name" for="name" minlength="2" class="modal-form__input">
            </div>
            <div class="modal-form__input-wrapper">
                <label for="tel" class="modal-form__label">Phone</label>
                <input type="tel" required id="tel" for="tel" class="modal-form__input" placeholder="" minlength="10">
            </div>
            <div class="modal-form__input-wrapper">
              <label for="email" class="modal-form__label">Email</label>
              <input type="email" class="modal-form__input" name="email" id="franchise-email" placeholder="" required>
            </div>
            <div class="modal-form__input-wrapper modal-form__input-wrapper-text">
                <label class="modal-form__label">Comment</label>
                <textarea name="modal-form__textarea" id="comment" placeholder="" class="modal-form__input modal-form__input-text" optional minlength="10"></textarea>
            </div>
            <button class="btn btn--primary modal__btn" type="submit">Submit</button>
        </form>
    </div>
  </div>
</div>

<!-- modal.js need to be placed after footer -->
