<section id="products">
  <div class="bg-ice">
    <p class="products-label">100% NATURAL</p>
    <h1 class="products-header">PRODUCTS</h1>

    <ul class="products-cards">

      <li class="products-item products-item-green">

        <h2 class="products-item-h2">ICE CREAM</h2>

        <p class="products-item-p">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
          stabilizer
        </p>

        <button type="button" data-modal-open class="products-button">
          <svg class="products-arrow" width="40" height="16">
            <use href="../images/icons.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products-item products-item-yellow">
        <h2 class="products-item-h2">ICE COFFEE</h2>
        <p class="products-item-p">Fragrant invigorating drink created from 100% natural ingredients without the use
          of preservatives and
          flavor
          enhancers
        </p>
        <button type="button" data-modal-open class="products-button">
          <svg class="products-arrow" width="40" height="16">
            <use href="../images/icons.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products-item products-item-brown">
        <h2 class="products-item-h2">MILKSHAKES</h2>
        <p class="products-item-p">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries
          and other sweets of
          your
          choice
        </p>
        <button type="button" data-modal-open class="products-button">
          <svg class="products-arrow" width="40" height="16">
            <use href="../images/icons.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>