<section id="products" class="products">
  <div>
    <p class="products-label">100% NATURAL</p>

    <h2 class="products-header">PRODUCTS</h2>

    <ul class="products-cards">
      <li class="products-item products-item-green">
        <h3 class="products-item-h3">ICE CREAM</h3>
        <p class="products-item-p">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>
        <button data-modal-open="modal2" type="button" class="products-button products__link">
          <svg class="products-arrow" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products-item products-item-yellow">
        <h3 class="products-item-h3">ICE COFFEE</h3>
        <p class="products-item-p">
          Fragrant invigorating drink created from 100% natural ingredients without the use of
          preservatives and flavor enhancers
        </p>

        <button data-modal-open="modal2" type="button" class="products-button products__link">
          <svg class="products-arrow" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products-item products-item-brown">
        <h3 class="products-item-h3">MILKSHAKES</h3>
        <p class="products-item-p">
          Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
          other sweets of your choice
        </p>
        <button data-modal-open="modal2" type="button" class="products-button products__link">
          <svg class="products-arrow" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
