<section id="products">
  <div>
    <p>100% NATURAL</p>
    <h1>PRODUCTS</h1>
    <ul>
      <li>
        <h2>ICE CREAM</h2>
        <p>Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>
        <button></button>
      </li>
      <li>
        <h2>ICE COFFEE</h2>
        <p>Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor
          enhancers
        </p>
        <button></button>
      </li>
      <li>
        <h2>MILKSHAKES</h2>
        <p>Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your
          choice
        </p>
        <button></button>
      </li>
    </ul>
  </div>
</section>