#advantages {
    color: var(--white-shade);
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}


.h-hidden {
    display: none;
}

#advantages ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#advantages ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 230px;
}


.advantages-big {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.advantages-small {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 170%;

}

/* .advantage-icons-bg {
    background-color: var(--yellow);
    width: 50px;
    height: 50px;
    border-radius: 25;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages-icons {
    width: 36px;
    height: 36px;
} */
/* 
dlaczego ikona ze skompresowanego pliku nie działa mimo że wstawiona przez html się normalnie wyświetla

#advantages ul li:first-child .advantages-big::before {
    content: url("../images/icons.svg#icon-weight");
    background-color: var(--yellow);
    width: 50px;
    height: 50px;
    border-radius: 25;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.advantages-big::before {
    content: url("../images/advantages/cow.svg");
    background-color: var(--yellow);
    width: 50px;
    height: 50px;
    border-radius: 25;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

}

#advantages ul li:first-child .advantages-big::before {
    content: url("../images/advantages/cow.svg");
}

#advantages ul li:nth-child(2) .advantages-big::before {
    content: url("../images/advantages/weight.svg");

}

#advantages ul li:last-child .advantages-big::before {
    content: url("../images/advantages/ice-cream.svg");
}