.hero-content-section {
  padding-top: 56px;
}
.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  justify-content: center;
}
.hero-content-title {
  font-size: var(--font-size-xl);

  letter-spacing: 1.52px;
  line-height: 1.26316;

  max-width: 367px;
}
.hero-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  padding-top: 28px;
  padding-bottom: 42px;

  max-width: 300px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-content-ice-spinning {
  animation: spin 20s linear infinite;
}
.hero-content-description {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 16px;

  max-width: 441px;
}
.hero-content-button-border {
  font-size: var(--font-size-small);
  color: var(--black-shade);

  font-weight: 600;
  text-decoration: none;

  border: solid 2px var(--yellow);
  border-radius: 15px;

  padding: 12px 34px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-content-button-border:hover,
.hero-content-button-border:focus {
  border: solid 2px var(--dark-green);
}
.hero-content-button-underline {
  color: var(--yellow);
  font-weight: 600;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-content-button-underline:hover,
.hero-content-button-underline:focus {
  color: var(--dark-green);
}
.hero-content-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 24px;
  max-width: 200px;
}
.hero-content-text {
  color: var(--white);
  font-size: var(--font-size-small);
  font-family: 'DM Sans', sans-serif;

  line-height: 1.4;
  letter-spacing: normal;
}

.hero-content-arrow-icon {
  fill: var(--white);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-content-arrow-icon:hover,
.hero-content-arrow-icon:focus {
  transform: scaleX(1.2);
  transform-origin: left;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-content-image-wrapper {
  position: absolute;
  top: 0;
  right: 86px;

  display: flex;
}
@keyframes pulseShadow {
  0% {
    filter: drop-shadow(0 0 60px rgba(255, 255, 255, 0.3));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.6));
  }
  100% {
    filter: drop-shadow(0 0 60px rgba(255, 255, 255, 0.3));
  }
}
.hero-content-image {
  display: inline-block;

  animation: pulseShadow 2s ease-in-out infinite;
}
.hero-content-statistics-container {
  display: flex;
  flex-direction: column;

  gap: 37px;
}
.hero-content-statistics-number {
  font-size: var(--font-size-xxl-small);
  font-weight: 900;

  text-align: right;
}
.hero-content-statistics-number:nth-of-type(1)::after {
  content: 'cafes';
}

.hero-content-statistics-number:nth-of-type(2)::after {
  content: 'food trucks';
}

.hero-content-statistics-number::after {
  display: block;

  color: var(--white-shade);
  font-size: var(--font-size-small);
  font-weight: 400;

  padding-top: 4px;
}
.hero-content-dots {
  position: absolute;

  z-index: -1;
  top: 155px;
  left: 0;
}
