.products {
  background-image: url('../images/background/background-mobile-1x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0px;
}

@media screen and (min-width: 768px) {
  .products {
    background-image: url('../images/background/background-tablet-1x.png');
  }
}

@media screen and (min-width: 1200px) {
  .products {
    background-image: url('../images/background/background-desktop-1x.png');
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products {
    background-image: url('../images/background/background-mobile-2x.png');
    background-position: center top;
    background-repeat: repeat-y;
  }

  @media screen and (min-width: 768px) {
    .products {
      background-image: url('../images/background/background-tablet-2x.png');
    }
  }

  @media screen and (min-width: 1200px) {
    .products {
      background-image: url('../images/background/background-desktop-2x.png');
    }
  }
}
.products-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  letter-spacing: -1.2px;
}
@media screen and (min-width: 768px) {
  .products-label {
    font-size: 22px;
    font-weight: 800;
  }
}

@media screen and (min-width: 1200px) {
  .products-label {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .products-header {
    font-size: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .products-header {
    font-size: 36px;
    letter-spacing: 2.16px;
  }
}
.products-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 148px;
}
@media (min-width: 768px) {
  .products-cards {
    column-gap: 16px;
    margin-top: 200px;
  }
}
@media (min-width: 1200px) {
  .products-cards {
    column-gap: 29px;
    margin-top: 303px;
  }
}
.products-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90vw;
  height: 420px;
  border-radius: 24px;
  margin-bottom: 168px;
}
@media (min-width: 768px) {
  .products-item {
    width: 224px;
    height: 428px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .products-item {
    width: 370px;
    height: 536px;
  }
}
.products-item:last-child {
  margin-bottom: 0;
}
.products-item-green {
  background-color: var(--green-shade);
}
.products-item-green::before {
  content: '';
  position: absolute;
  top: -97px;
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%),
    #d9d9d9;
  box-shadow: 0px 5.342193126678467px 20.033222198486328px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}
.products-item-green::after {
  content: '';
  position: absolute;
  top: -108px;
  width: 200px;
  height: 200px;
  background-image: url(../images/products/ice-cream-products-1x.png);
  background-size: cover;
}
.products-item-yellow {
  background-color: var(--yellow-shade);
}
.products-item-yellow::before {
  content: '';
  position: absolute;
  top: -97px;
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%),
    #d9d9d9;
  box-shadow: 0px 5.403973579406738px 20.26490020751953px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
}
.products-item-yellow::after {
  content: '';
  position: absolute;
  top: -108px;
  width: 200px;
  height: 200px;
  background-image: url(../images/products/ice-coffee-products-1x.png);
  background-size: cover;
}
.products-item-brown {
  background-color: var(--dark-orange);
}
.products-item-brown::before {
  content: '';
  position: absolute;
  top: -97px;
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7) 0%, rgba(213, 117, 63, 0.7) 100%),
    #d9d9d9;
  box-shadow: 0px 5.413332939147949px 20.299999237060547px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.products-item-brown::after {
  content: '';
  position: absolute;
  top: -108px;
  width: 200px;
  height: 200px;
  background-image: url(../images/products/milkshake-products-1x.png);
  background-size: cover;
}
.products-item-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 126px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .products-item-h3 {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .products-item-h3 {
    font-size: 30px;
  }
}

.products-item-p {
  margin: 0;
  width: 200px;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 176%;
}
@media (min-width: 768px) {
  .products-item-p {
    width: 172px;
    letter-spacing: 0.56px;
  }
}
@media (min-width: 1200px) {
  .products-item-p {
    width: 246px;
    font-size: 16px;
    letter-spacing: 0.64px;
  }
}
.products-button {
  position: absolute;
  top: 396px;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.products-button:hover,
.products-button:focus {
  transform: scale(1.2);
}
@media (min-width: 768px) {
  .products-button {
    top: 400px;
  }
}
@media (min-width: 1200px) {
  .products-button {
    top: 460px;
  }
}
