:root {
  /* colors */
  --yellow: #f8d24e;
  --yellow-shade: #efd478;
  --dark-green: #0a8817;
  --green-shade: #aec6a5;
  --dark-orange: #d6936d;
  --gray: #ababab;
  --white: #ffffff;
  --white-shade: #fcfcfc;
  --black: #000000;
  --black-shade: #131313;

  /* fonts */
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-heading-small: 30px;
  --font-size-large: 36px;
  --font-size-xl: 36px;
  --font-size-xxl: 58px;
}
body {
  font-size: var(--font-size-normal);
  color: var(--black-shade);
  font-family: 'Montserrat', sans-serif;
}

/* utlity classes */
.conatiner {
  max-width: 1168px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
ul,
menu {
  padding: 0;
  margin: 0;
}

ul,
menu {
  list-style: none;
}
